@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-purple-200: #eecffc;
  --color-purple-500: #7b1fa2;
  --color-purple-700: #580f78;
  --color-neutrals-0: #ffffff;
  --color-neutrals-50: #f5f6f9;
  --color-neutrals-100: #eef0f5;
  --color-neutrals-200: #cdd1d9;
  --color-neutrals-500: #6d6f73;
  --color-neutrals-400: #a8adb7;
  --color-neutrals-700: #393a3c;
  --color-neutrals-900: #202326;
  --color-teal-50: #f2fafa;
  --color-teal-400: #00a296;
  --color-teal-600: #027a7a;
  --color-text-light: #6d6f73;
  --color-decorative-dividers: #cdd1d9;
  --color-green-500: #02a117;
}

:root {
  --font-family-base: "Nunito", sans-serif;
}

body {
  font-family: var(--font-family-base);
}
